.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.*.local

node_modules/

dist/
build/
out/
.cache/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
coverage/

*.swp
*.tmp
